body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navbar */

.navbar-brand {
    font-family: cursive;
}

/* Products */

.products {
    background-color: #CDF2CA;
}

.products > h1{
    font-family: cursive;
    font-weight: 900;
}

.favorite-product:hover {
    cursor: pointer;
    background-color: rgb(248, 193, 193) !important;
    color: white;
}

/* Footer */

.footer-ul {
    list-style-type: none;
} 

.footer-ul > li {
    display: inline;
}